
<div>
  <h1>Store: <%= @coupon.store %></h1>
  <h1>Coupon Code: <%= @coupon.coupon_code %></h1>
  <h3>Created At: <%= @coupon.created_at %></h3><br>
  <%= link_to "Link to all coupons", coupons_path %>
</div>
